body{
	margin:0;
	padding:0;
	width:100vw;
	height:100vh;
	font-size: 16px;
}
#slide{
	width:100%;
	height:100%;
	position: relative;
}
#slide .container, .face{
	width:70%;
	height:70%;
	margin:0;
	position: absolute;
	left:15%;
	top:15%;
}

#slide .container .picture{
	width:100%;
	height:100%;
	position: relative;
	border: 4px solid #54BA37;
	box-sizing: border-box;
}
#slide .container .picture .pic{
	width:100%;
	height:100%;
	position: absolute;
	background-position: center;
	background-size:cover;
}
#slide .container .picture .pic1{
	background-image: url('images/1.jpg')
}
#slide .container .picture .pic2{
	background-image: url('images/2.jpg')
}
#slide .container .picture .pic3{
	background-image: url('images/3.jpg')
}
#slide .container .picture .pic4{
	background-image: url('images/4.jpg')
}
.face .control-btn{
	width: 100%;
	height:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding:15px;
}

.face .control{
	width:55px;
	height:55px;
	border:1px solid white;
	border-radius: 50%;
	background-color: transparent;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;

}

.face .control .play-btn, .pre-btn, .next-btn{
	font-size:20px;
	color:white;
}
.appear{
	transform:translateY(-50%);
	opacity: 0;
}
.control-btn-appear{
	animation: appear 1s forwards;
}
@-webkit-keyframes appear{
	from{
		transform:translateY(-50%);
		opacity: 0;
	}
	to{
		transform:translateY(0%);
		opacity: 1;
	}
}
.control-btn-disappear{
	animation: disappear 1s forwards;
}
@-webkit-keyframes disappear{
	from{
		transform:translateY(0%);
		opacity: 1;
	}
	to{
		transform:translateY(-50%);
		opacity: 0;
	}
}
