html, body{
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	font-size:16px;
}
.slides{
	width:100%;
	height:100%;
	position: relative;
}
.slides .circle-button{
	position: absolute;
	display:flex;
	bottom:38%;
	transform: translateX(-50%);
	left:50%;
	z-index: 99;
}
.slides .circle-button .circle{

	width:17px;
	height:17px;
	border: 2px solid white;
	border-radius: 50%;
	margin:5px 7px;
	transition: 300ms;
	position: relative;
}
.slides .circle-button .circle:hover 
{
	background-color:#35BD46;
	border:2px solid transparent;
}
.slides .circle-button .circle:hover .small-images, .slides .circle-button .circle:hover .small-images:before {
	opacity: 1;
	transform-origin: (50%,0);
	transform:translateY(-20%);
}

.slides .circle-button .circle .small-images{
	position: absolute;
	transform:translateY(-100%);
	opacity: 0;
	top: -281%;
    left: -268%;
	transition:.7s;

}
.slides .circle-button .circle .small-images img{
		border:2px solid #35BD46;
}
.slides .slides-images{
	position: relative; 
	width:63%;
	height:63%;
	border:3px solid green;
	margin:10% auto 0;
}
.slides .circle-button .circle .small-images:before{
	position: absolute;
	bottom: -10px;
    left: 42%;
	content:" ";
	border-color:#35BD46 transparent transparent transparent;
	border-style: solid;
	border-width: 7px;
	opacity: 0;
}
.slides .slides-images img{
	position: absolute;
	height:100%;
	width:100%;
}
.slides-images .control-button{
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity: 0;
}
.slides-images:hover .control-button{
	animation:down .5s forwards;
} 
@-webkit-keyframes down{
	from{opacity:0;}
	to{opacity:1;}
}

.slides-images .control-button .control{
	width:50px;
	height:50px;
	border:2px solid white;
	border-radius: 50%;
	position: relative;
	background-color: transparent;
	transform: translateY(-50%);
}
.slides-images:hover .control-button .pre,.slides-images:hover .control-button .next,.slides-images:hover .control-button .play{
	animation:apprerance .4s forwards;
}
.slides-images:hover .control-button .pre{
	animation-delay: .3s;
}
.slides-images:hover .control-button .next{
	animation-delay: .2s;
}
@-webkit-keyframes apprerance{
	from{transform: translateY(-50%);}
	to{transform: translateY(0);}
}

.slides-images .control-button .play{
		margin:0 336px;
}
.slides-images .control-button .control .fas{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	color:white;
	font-size: 17px;
}